# Folders
.venv
__pycache__
osadecdb
cocosplit
biblio
images
data
data_img
weight
data_anotated
data_annotated


# Files
.env
*.wav
test*
*.png
*.zip
visualize_data.py
detection_model.py
load_coco.py
