.user_field{
    display: flex;
}

.user_info {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ================================= */
/*              TAB STYLE            */
/* ================================= */

.tabs { 
    font-family: 'EB Garamond', serif;
    font-size: 1.2rem;
    width: 100%;
}

.tabs .tab-registers {
    display: flex;
    background-color: RGB(255, 255, 255);
    font-weight:  bold;
}


.tabs button {
    padding: 0.5em;
    background-color: RGB(255, 255, 255);
    border: none;
    font: inherit;
}

.tabs .tab-registers button:hover {
    cursor: pointer;
}

.tabs .tab-bodies {
    height: 100%;
    padding: 0.5em;
    background-color: RGB(235, 235, 235);
    flex-grow: 1;
    overflow-y: auto;
}

.tabs button.active-tab {
    background-color: rgb(235, 235, 235);
}

.tab-button:hover {
    background-color: rgb(235, 235, 235);
    border-radius: 3px;
}

/* ================================= */



.dashboard{
    width : 100%;
}

.user_img {
    width: 10rem;
    height: 10rem;
    border: 2px;
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circleBase{
    border-radius: 50%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.user_perso {
    margin: auto;
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

/* ============================ */
/*          Explore table       */

.tableFixHead {
    overflow-y: auto; /* make the table scrollable if height is more than 200 px  */
    height: 500px; /* gives an initial height of 200px to the table */
}
.tableFixHead thead th {
    position: sticky; /* make the table heads sticky */
    top: 0px; /* table head will be placed from the top of the table and sticks to it */
}

#files_table {
    margin: 10px auto; /* or margin: 0 auto 0 auto */
    font-family: 'EB Garamond', serif;
    border-collapse: collapse;
    width: 80%;
    
}

#files_table td, #files_table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

#files_table tr:nth-child(even){
    background-color: #f2f2f2;
}

#files_table tr:hover {
    background-color: #ddd;
}

#files_table th {
    background-color: blue;
    color: white;
  }


.link-card {
    color: black;
    text-decoration: none;
    
}

.link-card:visited{
    color: black;
}

.download_icon {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ============================= */

#upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
    min-width: 50%;
}

.element_form {
    margin: 10px auto;
}

label {
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 5px;
}

input {
    border-radius: 5px;
    padding: 2px;
    border: 2px solid blue;
}

#submit {
    border: 2px solid blue;
    color: blue;
    padding: 10px 20px;
    border-radius: 5px;
    height: 50%;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 10px;
}

#submit:hover {
    background-color: blue;
    color: white;
  }

/* .explore {
} */

/* Dropzone */

.dropzone {
    border: 4px dashed blue;
    border-radius: 5px;
    margin: 50px 0 10px; 
    min-height: 200px; 
    width: 40%; 
    font-weight: bold; 
    font-family: "EB Garamond", serif;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input[type="file"] {
    display: none;
}

/* Progress bar */

.container {
    margin: 100px auto;
    width: 500px;
    text-align: center;
  }
   
  .progress2 {
    padding: 6px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.25);  
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  }
  
  .progress-bar2 {
    height: 18px;
    border-radius: 30px;
    background-image: 
      linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    transition: 0.4s linear;  
    transition-property: width, background-color;    
  }
  
  .progress-moved .progress-bar2 {
    width: 100%; 
    background-color: blue;  
    animation: progressAnimation 6s;
  }
  
  @keyframes progressAnimation {
    0%   { width: 0%; background-color: #a3a3ff;}
    100% { width: 100%; background-color: blue; }
  }
  

#deconnexion {
    padding-top: 3em;
    text-align: center;
}