{% extends 'base.html' %}

{% block title %}OSADEC | Account{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/script_tab.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
{% endblock %}  

{% block content %}

<div class="user_field">
    <div class="user_info">
        <div class="user_img circleBase">
            <img src="{{ url_for('static', filename='images/user.png') }}" alt="User image">
        </div>
        <div class="user_perso">
            <table>
                <tbody>
                    <tr>
                        <th colspan="2">{{ user['username'].upper() }}</th>
                    </tr>
                    <tr>
                        <td>First Name:</td>
                        <td>{{ user['first_name'] }}</td>
                    </tr>
                    <tr>
                        <td>Last Name:</td>
                        <td>{{ user['last_name'] }}</td>
                    </tr>
                    <tr>
                        <td>E-mail:</td>
                        <td>{{ user['email'] }}</td>
                    </tr>
                    <tr>
                        <td>Registration date:</td>
                        <td>{{ user['registration_date'] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tabs">
        <div class="tab-registers">
            <button class="active-tab tab-button">Analyse</button>
            <button class="tab-button">Explore files</button>
        </div>
        <div class="tab-bodies">
            <div class="dashboard" style="display:block;">
              
                <h1 class="title_form">Analyse a new file</h1>
                <form id="upload-form" action="/upload" enctype="multipart/form-data" method="post" onsubmit="handleSubmit(event)">
                    <div id="project" class="element_form">
                        <label for="project">Project Name: *  </label>
                        <input type="text" name="project" placeholder="Project Name*" required>
                        <label for="acquisition_date">Date of acquisition: *  </label>
                        <input type="datetime-local" name="acquisition_date" step="1"  required>
                    </div>
                    <div class="element_form">
                        <label for="depth">Depth: * </label>
                        <input type="number" name="depth" placeholder="Depth of acquisition*" required>
                        <label for="fs">Frequency sample: * </label>
                        <input type="number" name="fs" placeholder="Frequency sample (Hz) *" required>
                    </div>
                    <div id="coordinate" class="element_form">
                        <label for="lat">Latitude: * </label>
                        <input type="text" name="lat" placeholder="Latitude*" required>
                        <label for="long">Longitude: * </label>
                        <input type="text" name="long" placeholder="Longitude*" required>
                    </div>
                    <div class="dropzone" id="dropzone">
                        <p>Drag and drop files here, or click to select files</p>
                        <input type="file" id="file" name="file" onchange="handleFileSelect(this)" required>
                    </div>
                    <input type="submit" id="submit" value="Upload and analyse">
                    <p id="obligation">* Required fields</p>
                  </form>
                  <button id="test">test</button>
            </div>
            <div class="dashboard explore" style="display:none;">
                <h1 class="title_form">List of files</h1>
                <div style="overflow-x:auto;">
                    <table >
                        <tr>
                            <th>File name</th>
                            <th>Acquisition date</th>
                            <th>Download</th>
                        </tr>
                        {% for f in files %}
                            <tr>
                                <td><a href="#">{{ f['name'] }}</a></td>
                                <td><a href="#">{{ f['date'] }}</a></td>
                                <td class="ctr">{{ f['path'] }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}