<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock%}</title>
        <!-- Font link -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
        <!-- CSS file -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {% block links %}{% endblock %}       
    </head>
<body>
    <!-- Header of webb app -->
    <!-- <header class="page_header">
        <div id="title"><a href="{{ url_for('index') }}" id="logo">OSADEC</a></div>
        <div id="sign_in">
            <a href="{{ url_for('sign_in') }}" id="a_sign_in"> Sign in </a>
        </div>
        <div id="sign_up">
            <a href="{{ url_for('sign_up') }}" id="a_sign_up"> Sign up</a>
        </div>
    </header> -->
    <header class="header">
        <h1 class="header-title"><a href="{{ url_for('index') }}" class="title">OSADEC</a></h1>
        <a class="header-signin" href="{{ url_for('sign_in') }}">Sign in</a>
    </header>
    <section>
        {% block content %}{% endblock %}

        
    </section>
    {% block script %}{% endblock %}
</body>
</html>