{% extends 'base.html' %}

{% block title %}OSADEC | Account{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/script_tab.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.min.js"></script>
    <script>
        var socket = io.connect('http://localhost:5001/progress');

        socket.on('connect', function(){
            console.log('Socket connected');
        });

        socket.on('progress', function(data){
            console.log(data.message);
            var percent = data.percent;
            var message = data.message;
            var status = data.status;

            // Update the progress bar with the received values
            var progressBar = document.getElementById("bar");
            var progressStatus = document.getElementById("progress-status");
            progressBar.style.width = percent + '%';
            progressStatus.textContent = message;

            if (status == 'complete'){
                window.location.href = window.location.href;
                // window.location.reload();
            }
        });
        
    </script>
{% endblock %}  

{% block content %}

<div class="user_field">
    <div class="user_info">
        <div class="user_img circleBase">
            <img src="{{ url_for('static', filename='images/user.png') }}" alt="User image">
        </div>
        <div class="user_perso">
            <table>
                <tbody>
                    <tr>
                        <th colspan="2">{{ user['username'].upper() }}</th>
                    </tr>
                    <tr>
                        <td>First Name:</td>
                        <td>{{ user['first_name'] }}</td>
                    </tr>
                    <tr>
                        <td>Last Name:</td>
                        <td>{{ user['last_name'] }}</td>
                    </tr>
                    <tr>
                        <td>E-mail:</td>
                        <td>{{ user['email'] }}</td>
                    </tr>
                    <tr>
                        <td>Registration date:</td>
                        <td>{{ user['registration_date'] }}</td>
                    </tr>
                    <tr>
                        <td colspan="2" id="deconnexion"><a class="header-signin" href="{{ url_for('index', deconnexion='deconnected') }}">Deconnexion</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tabs">
        <div class="tab-registers">
            <button class="active-tab tab-button">Analyse</button>
            <button class="tab-button">Explore files</button>
        </div>
        <div class="tab-bodies">
            <div class="dashboard" style="display:block;">
              
                <h1 class="title_form">Analyse a new file</h1>
                <form id="upload-form" action="/upload" enctype="multipart/form-data" method="post" onsubmit="handleSubmit(event)">
                    <div id="project" class="element_form">
                        <label for="project_name">Choose or write a project name: *  </label>
                        <input list="project_name" name="project" placeholder="Project Name*" required>
                        <datalist id="project_name">
                            {% for p in projects %}
                                <option value="{{ p }}">
                            {% endfor %}
                        </datalist>
                        <label for="acquisition_date">Date of acquisition: *  </label>
                        <input type="datetime-local" name="acquisition_date" step="1"  required>
                    </div>
                    <div id="coordinate" class="element_form">
                        <label for="depth">Depth: * </label>
                        <input type="number" min="0" max="11022" name="depth" placeholder="Depth *" required>
                        <label for="lat">Latitude: * </label>
                        <input type="number" step=".000001" min="-90" max="90" name="lat" placeholder="Latitude*" required>
                        <label for="long">Longitude: * </label>
                        <input type="number" step=".000001" max="180" min="-180" name="long" placeholder="Longitude*" required>
                    </div>
                    <div class="dropzone" id="dropzone">
                        <p>Drag and drop files here, or click to select files</p>
                        <input type="file" id="file" name="file" onchange="handleFileSelect(this)" required>
                    </div>
                    <input type="submit" id="submit" value="Upload and analyse">
                    <p id="obligation">* Required fields</p>
                </form>
                <div id="progress-bar" style="display:none;">
                    <div id="progress" class="progress"><div id="bar"></div></div>
                    <p id="progress-status" class="progress-status"></p>
                </div>
            </div>
            <div class="dashboard explore" style="display:none;">
                <h1 class="title_form">List of files</h1>
                <div class="tableFixHead" style="overflow-x:auto;">
                    <table id="files_table">
                        <thead>
                            <tr>
                                <th>File name</th>
                                <th>Acquisition date</th>
                                <th>Download</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for f in files %}
                            <tr>
                                <td><a class="link-card" href="{{ url_for('get_info', filename=f['name']) }}">{{ f['name'] }}</a></td>
                                <td>{{ f['date'] }}</td>
                                <td class="download_icon"> <p style="margin-right: 10px;">.wav :</p><a href="{{ url_for('download_file', file=f['name'] , type='wav')}}"><img src="{{ url_for('static', filename='images/download.png') }}" alt="Download file" width="20" height="20"></a></td>
                                <td class="download_icon"><p style="margin-right: 10px;">.csv :</p><a href="{{ url_for('download_file', file=f['name'], id=f['id_file'], type='csv')}}"><img src="{{ url_for('static', filename='images/download.png') }}" alt="Download file" width="20" height="20"></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}