{% extends 'base.html' %}

{% block title %}OSADEC | Sign in{% endblock %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sign_in.css') }}">
{% endblock %} 

{% block content %}
    <div class="forgot-password-container">
        <h1>Reset password</h1>
        <form action="/reset-password" method="post">
        <div class="form-group">
            <label for="email">e-mail:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}